<div class="modal" id="about-modal">
  <div class="modal-background"></div>
  <div class="modal-card animated fadeInDown">
    <header class="modal-card-head">
      <p class="modal-card-title">Sobre</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p>Este site é um <abbr title="Ambiente Virtual de Aprendizagem">AVA</abbr>, que tem como objetivo explorar recursos de Educação a Distância ao proporcionar a criação
        de <strong>cursos online</strong> com uma série de <strong>módulos</strong>, em que cada módulo contém uma
        série de <strong>aulas</strong>.
      </p>
      <br>
      <p>
        Sinta-se a vontade para experimentar. Crie uma conta de usuário como <strong>Professor</strong> se você quiser
        compartilhar seu curso, ou como <strong>Aluno</strong> se você quiser estudar.
      </p>
      <br>
      <p>
      Acesse o <strong>fórum</strong> para sanar dúvidas e participar de discussões com outros estudantes ou
      <strong>tutores</strong>!
      </p>
      <br>
      <p>
        Este projeto é <em>open source</em>, você pode saber mais sobre o desenvolvimento visitando nossa página no Github,
        clicando <a href="https://github.com/pedlor/AVA_EAD" target="_blank" class="is-link">aqui</a>.
      </p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success is-rounded">Entendi</button>
    </footer>
  </div>
  <!-- <button class="modal-close is-large" aria-label="close"></button> -->
</div>