<div class="modal" id="assignTutor-modal">
    <div class="modal-background"></div>
    <div class="modal-content animated fadeInDown">
        <div class="box">
            <h1 class="title has-text-centered">Atribuir Tutor</h1>
            <p class="subtitle">Um Tutor é um usuário especial que tem a tarefa de auxiliar os alunos do seu curso.</p>

            <div class="columns is-centered">
                <div class="column is-8">
                    <form action="/course/tutor/new" method="POST">
                        <div class="field">
                            <label for="title" class="label">Email</label>
                            <div class="control">
                                <p class="control">
                                    <input id="email" name="email" class="input is-rounded" type="text"
                                        placeholder="Digite o email do Tutor" required>
                                </p></br>
                            </div>
                        </div>

                        <input type="hidden" name="courseId" value="{{course._id}}">

                        <div class="buttons is-centered">
                            <p class="control">
                                <button class="button is-primary is-rounded" type="submit">Atribuir</button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        <p>Tenha certeza de que o Tutor é um usuário cadastrado no OpenClass</p>
        </div>
    </div>
    <!-- <button class="modal-close is-large" aria-label="close"></button> -->
</div>