<div class="modal" id="deleteLesson-modal">
    <div class="modal-background"></div>
    <div class="modal-content box animated fadeInDown">
        <article class="panel is-danger">
            <p class="panel-heading">
                Deletar aula
            </p>
            <p class="panel-block has-text-centered">
                <strong>Deseja deletar essa aula?</strong>
            </p>
            <div class="panel-block">
                <form method="POST" action="/course/delete">
                    <input type="hidden" value="{{course._id}}" name="idDelete">
                    <button class="button is-danger is-fullwidth" type="submit">
                        Sim.
                    </button>
                </form>
                <button class="button is-light is-fullwidth cancel-course-delete-btn">
                    Não, quero voltar.
                </button>
            </div>
        </article>
    </div>
    <!-- <button class="modal-close is-large" aria-label="close"></button> -->
</div>