<footer class="footer">
    <div class="content has-text-centered">
        <a href="https://github.com/pedlor/AVA_EAD">
            Github
        </a>
        <div class="separator"></div>
        <a href="https://bulma.io">
            <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
        </a>
    </div>
</footer>