<nav class="navbar is-primary is-bold" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item is-white">
                <img src="https://i.imgur.com/CrnMPpF.png" width="112" height="28">
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active" href="../index.handlebars">
                        Página Inicial
                    </a>
                    <a class="navbar-item" id="about-link">
                        Sobre
                    </a>
                </div>
            </div>
        </div>
    </nav>