<nav class="navbar is-primary is-bold" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item is-white">
                <img src="https://i.imgur.com/CrnMPpF.png">
            </div>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-active" href="../">
                    Página Inicial
                </a>
                <a class="navbar-item" id="about-link">
                    Sobre
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {{#if user}}
                    <a class="button is-rounded is-outlined is-white" href="../users/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        Sair
                    </a>
                    {{else}}
                    <a class="button is-rounded is-outlined is-white" href="../users/form">
                        Registrar
                    </a>
                    <a class="button is-rounded is-outlined is-white" href="../">
                        Entrar
                    </a>
                    {{/if}}


                </div>
            </div>
        </div>
    </div>
</nav>