<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item is-white">
                <p class="title">LibreCursos</p>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active">
                        Página Inicial
                    </a>
                    <a class="navbar-item">
                        Sobre
                    </a>
                </div>
            </div>
        </div>
    </nav>