<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Open Class</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/02b9a741b7.js" crossorigin="anonymous"></script>    <script src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <script src="https://cdn.tiny.cloud/1/xyspsdxzyagdwb635h2uamg58o26jssf1c501te1ffm2qkf0/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <script>tinymce.init({ selector: 'textarea', plugins: "code image media" });</script>
</head>

<body>
    {{>_navbar}}
    {{>_about-modal}}
    {{>_newCourse-modal}}
    <!-- {{>_msg}} -->
    {{{body}}}
    <!-- {{>_footer}} --> 
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="../../public/src/main.js"></script>
<script type="text/javascript">
    //Deletar notificação
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            $notification = $delete.parentNode;
            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });

    $(document).ready(function () {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function () {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active")
            $(".navbar-menu").slideToggle("is-active");
        });

        //Adds loading effects to 'Entrar' button
        $('#login-btn').click((event) => {
            let emailInput = $('#email')
            let passwordInput = $('#password')
            if(emailInput.val() && passwordInput.val()) {
                $(event.currentTarget).addClass('is-loading')
            }
        })

        //Tabs
        $('.nav-tab').click((event) => {
            $(event.currentTarget).addClass("is-active")
            $(event.currentTarget).siblings().removeClass("is-active")
        })

        $('#lessons-tab').click(() => {
            $('.lessons-section').removeClass('is-hidden')
            $('.people-section').addClass('is-hidden')
            $('.discuss-section').addClass('is-hidden')
        })

        $('#people-tab').click(() => {
            $('.people-section').removeClass('is-hidden')
            $('.lessons-section').addClass('is-hidden')
            $('.discuss-section').addClass('is-hidden')
        })

        $('#discuss-tab').click(() => {
            $('.lessons-section').addClass('is-hidden')
            $('.people-section').addClass('is-hidden')
            $('.discuss-section').removeClass('is-hidden')
        })

        //Modal
        $('a#showModal').click(() => {
            $('#about-modal').addClass('is-active');
        });
        $('.modal-close').click(() => {
            $('#about-modal').removeClass('is-active');
        });
        $('.add-lesson-btn').click(() => {
            let moduleId = $(event.currentTarget).parent().parent().attr('id')
            let moduleTitle = $(event.currentTarget).parent().parent().attr('data-title')
            $('.module-input').attr('value', moduleId)
            $('#module-title-strong').html(moduleTitle)
            $('#add-lesson-modal').addClass('is-active');
        });
        $('.add-lesson-cancel-btn').click(() => {
            $('#add-lesson-modal').removeClass('is-active');
        });
        $('.add-course-btn').click(() => {
            $('#newCourse-modal').addClass('is-active');
        });
        $('.deleteCourse-item').click(() => {
            $('#deleteCourse-modal').addClass('is-active');
        })
        $('.cancel-course-delete-btn').click(() => {
            $('#deleteCourse-modal').removeClass('is-active');
        })
        $('.assignTutor-item').click(() => {
            $('#assignTutor-modal').addClass('is-active');
        })

    //Dropdown Menu
        $('.options-ddown').click((event) => {
            $(event.currentTarget).toggleClass('is-active');
        });
        $('.options-ddown').on('mouseleave', () => {
            $(event.currentTarget).removeClass('is-active');
        })


    //View Lessons
        $('.lesson-link').click((event) => {
            let lessonContent = $(event.currentTarget).attr('data-content')
            let lessonId = $(event.currentTarget).attr('data-id')
            let moduleId = $(event.currentTarget).parent().attr('id')
            $('.content').html(lessonContent)
            $('#lesson-edit-link').attr('href', '/course/lesson/edit/' + lessonId)
            $('#lesson-delete-input').attr('value', lessonId)
            $('#lesson-delete-module-id').attr('value', moduleId)
        })   
    });

    //

    document.addEventListener('DOMContentLoaded', function () {

        // Modals

        var rootEl = document.documentElement;
        var $modals = getAll('.modal');
        var $modalButtons = getAll('.modal-button');
        var $modalCloses = getAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button');

        if ($modalButtons.length > 0) {
            $modalButtons.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);
                    rootEl.classList.add('is-clipped');
                    $target.classList.add('is-active');
                });
            });
        }

        if ($modalCloses.length > 0) {
            $modalCloses.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    closeModals();
                });
            });
        }

        document.addEventListener('keydown', function (event) {
            var e = event || window.event;
            if (e.keyCode === 27) {
                closeModals();
            }
        });

        function closeModals() {
            rootEl.classList.remove('is-clipped');
            $modals.forEach(function ($el) {
                $el.classList.remove('is-active');
            });
        }

        // Functions

        function getAll(selector) {
            return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
        }
    });
</script>
</html>