<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><% title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item is-white">
                <p class="title">LibreCursos</p>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item is-active">
                        Página Inicial
                    </a>
                    <a class="navbar-item">
                        Sobre
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title">Seu curso</h1>
            <h2 class="subtitle">
                Informações sobre o curso
            </h2>
        </div>
        </br>
        <div class="container is-fluid">
            <div class="columns">
                <div class="column is-one-quarter is-centered">
                    <nav class="panel">
                        <p class="panel-heading">
                            Aulas
                        </p>
                        <a class="panel-block is-active">
                            <span class="panel-icon">
                                <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                            bulma
                        </a>
                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                            marksheet
                        </a>
                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                            minireset.css
                        </a>
                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-book" aria-hidden="true"></i>
                            </span>
                            jgthms.github.io
                        </a>
                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-code-branch" aria-hidden="true"></i>
                            </span>
                            daniellowtw/infboard
                        </a>
                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fas fa-code-branch" aria-hidden="true"></i>
                            </span>
                            mojs
                        </a>
                        <div class="panel-block">
                            <button class="button is-link is-outlined is-fullwidth">
                                Nova aula
                            </button>
                        </div>
                    </nav>
                </div>
                <div class="column">
                    <div class="box">
                        <div class="content">
                            <h2>Nome da aula</h2>
                            <h3>Aqui ficará o conteúdo da aula e editor Markdown (SimpleMDE)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                Conteúdo do rodapé. Página do Github
            </p>
        </div>
    </footer>
</body>

</html>