<section class="section">
    <div class="container">
        <h1 class="title">Seu curso</h1>
        <h2 class="subtitle">
            Informações sobre o curso
        </h2>
    </div>
    </br>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-one-quarter is-centered">
                <nav class="panel">
                    <p class="panel-heading">
                        Aulas
                    </p>
                    <a class="panel-block is-active">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        bulma
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        marksheet
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        minireset.css
                    </a>
                    <a class="panel-block">
                        <span class="panel-icon">
                            <i class="fas fa-book" aria-hidden="true"></i>
                        </span>
                        jgthms.github.io
                    </a>
                    <div class="panel-block">
                        <button class="button is-link is-outlined is-fullwidth">
                            Nova aula
                        </button>
                    </div>
                </nav>
            </div>
            <div class="column">
                <div class="box">
                    <div class="content">
                        <h2>Nome da aula</h2>
                        <h3>Aqui ficará o conteúdo da aula e editor Markdown (SimpleMDE)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>